.textbox {
    height: 25px;
    width: 250px;
    border: none;
    margin-left:75px;
    font-family: 'Noto Sans', sans-serif;
    padding-left:5px;
}
#Button1 {
    height: 40px;
    width: 130px;
    margin-left: 135px;
    background-color: azure;
    border-radius: 30px;
    font-family: 'Noto Sans', sans-serif;
    color: #23B4EE;
    transition: 0.5s;
}
    #Button1:hover {
        background-color: #23B4EE;
        color:azure;
        transform:scale(1.1);
    }
#BackButton {
    height: 50px;
    width: 50px;
    border:none;
    background: url(Images/images.jpg);
    transition: 0.5s;
}
    #BackButton:hover{
        transform: scale(1.1) rotateZ(5deg);
    }